{
    "include": [
        "@here/*/{lib,src}/**/*.ts"
    ],
    "exclude": [
        "typings"
    ],
    "extension": [
        ".ts"
    ],
    "reporter": [
        "json",
        "html",
        "text-summary"
    ],
    "all": true
}

