@here/harp-omv-datasource/lib/proto/vector_tile.d.ts
@here/harp-datasource-protocol/theme.schema.json
@here/harp-map-theme/resources/fonts/
@here/harp-text-canvas/resources/fonts/
dist/
.nyc_output/
coverage/
lerna.json
