#navPanel {
    position: fixed;
    left: 0px;
    width: 310px;
    height: 100%;
    overflow: auto;
    background: #0f1621;
}

#titleBar {
    margin-top: 30px;
    margin-left: 20px;
}
#navPanel h1 {
    margin-top: 0;
    margin-bottom: 0.3em;
    font-size: 1.4em;
    font-weight: normal;
}
#subtitle {
    margin-left: 0.5em;
    overflow: ellipsis;
}

#exampleFrame {
    position: absolute;
    border: 0px;
    left: 310px;
    width: calc(100% - 310px);
    height: 100%;
    overflow: auto;
}

/*
 * Example list
 */
#exampleList {
    padding: 0px 20px 20px 20px;
    overflow: auto;
}

#exampleList .link {
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: #cdced0;
}

#exampleList .selected {
    font-weight: bold;
}

#exampleList .link:hover {
    color: inherit;
}

#exampleList .filtered {
    display: none !important;
}


/*
 * View Source button
 */
#viewSource {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px;
    background-color: #0f1621;
    opacity: 0.7;
}

#viewSource:hover {
    cursor: pointer;
    opacity: 1;
}

/*
 * Filter input block
 */

.filterBlock {
    margin: 20px;
    position: relative;
}

.filterBlock p {
    margin: 0;
}

#filterInput {
    width: 100%;
    padding: 5px;
    font-family: inherit;
    font-size: 15px;
    outline: none;
    border: 1px solid #dedede;
}

#filterInput:focus {
    border: 1px solid #2194CE;
}

#clearFilterButton {
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    font-size: 14px;
    color: grey;
    text-align: center;
    line-height: 0;
    padding-top: 7px;
    opacity: .5;
}

#clearFilterButton:hover {
    opacity: 1;
}

/*
 * Mobile / Responsive support
 */

#hamburgerMenu {
    display: none;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 32px;
    height: 32px;
}

#hamburgerMenu span {
    height: 2px;
    background-color: #82dbbd;
    width: 16px;
    position: absolute;
    left: 8px;
    top: 10px;
}

#hamburgerMenu span:nth-child(1) {
    top: 16px;
}

#hamburgerMenu span:nth-child(2) {
    top: 22px;
}

@media all and (max-width: 640px) {
    #titleBar {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #navPanel {
        position: absolute;
        left: 0;
        top: 0;
        max-height: 480px;
        width: 100%;
        right: 0;
        z-index: 100;
        overflow: hidden;
        border-bottom: 1px solid #dedede;

        transition-property: max-height;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

    #exampleList {
        position: absolute;
        left: 0;
        top: 100px;
        right: 0;
        bottom: 0;
        line-height: 22px;
        overflow: auto;
    }

    #exampleFrame {
        position: absolute;
        left: 0;
        top: 56px;
        width: 100%;
        height: calc(100% - 56px);
    }

    #hamburgerMenu {
        display: block;
    }

    #navPanel.collapsed {
        max-height: 56px;
    }

    #subtitle {
        display: none;
    }
}
