name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  test:
    name: Test on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: [10, 11, 12]
        os: [ubuntu-latest,macOS-latest,windows-latest]

    steps:
    - name: Reset git settings (Windows)
      # Global git config on windows has autocrlf enabled.
      # This breaks lot of checks, including tslint.
      run: git config --global core.autocrlf false
      if: matrix.os == 'windows-latest'
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        version: ${{ matrix.node_version }}
    - name: Install dependencies
      run: |
        npm install -g chromedriver geckodriver
      if: matrix.os != 'windows-latest'
    - name: Install dependencies (Windows)
      shell: bash
      run: |
        set -ex
        # This is arbitrary version that happens to be installed in github CI env atm.
        # As for now `chromedriver` supports only exact version, so this version have to be
        # updated with Github CI windows infra.
        #
        # See
        #  https://help.github.com/en/articles/software-in-virtual-environments-for-github-actions#windows-server-2019
        #  https://github.com/giggio/node-chromedriver - explanation
        #  https://sites.google.com/a/chromium.org/chromedriver/downloads - available versions
        export CHROMEDRIVER_VERSION=75.0.3770.140
      if: matrix.os == 'windows-latest'
    - name: Pretest
      run: |
        set -ex
        yarn
        npx ts-mocha -r tsconfig-paths/register ./test/*.ts
        yarn run tslint
        yarn run prettier
      shell: bash
    - name: Test on Node.js
      run: npx ts-mocha -r tsconfig-paths/register ./@here/*/test/*.ts  ./test/integration-tests/**/*.ts
      shell: bash
    - name: Build test bundle
      run: yarn run build-tests
      shell: bash
    - name: Tests on Chrome (Windows)
      run: |
        export PATH=`pwd`:$PATH
        cp node_modules/chromedriver/lib/chromedriver/chromedriver.exe .
        yarn test-browser --headless-chrome
      shell: bash
      if: matrix.os == 'windows-latest'
    - name: Tests on Chrome (Linux)
      run: |
        set -ex
        yarn
        google-chrome --version
        whereis google-chrome
        yarn test-browser --headless-chrome
      shell: bash
      if: matrix.os == 'ubuntu-latest'
    - name: Tests on Firefox (Windows)
      run: |
        export PATH=`pwd`:$PATH
        cp node_modules/geckodriver/geckodriver.exe .
        yarn test-browser --headless-firefox
      if: matrix.os == 'windows-latest'
    - name: Tests on Firefox (Linux)
      run: |
        set -ex
        firefox --version
        whereis firefox
        yarn test-browser --headless-firefox
      shell: bash
      if: matrix.os == 'ubuntu-latest'
    - name: Build examples
      run: yarn run build-examples
      shell: bash
    - name: Build bundle
      run: yarn run build-bundle
      shell: bash
    - name: Generate doc
      run: yarn run typedoc
      shell: bash
      #  typedoc doesn't work on windows -> https://github.com/unstubbable/typedoc-plugin-monorepo/pull/1
      if: matrix.os != 'windows-latest'



